.p{
    color: red;
    font-size: 50px;
    font-style: italic;
}
.my_h{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 20px;
    width: 200px;
    height: 0px;
}
.color_buttons{
    width: 60px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    color: black;
}
.normal_button{
    
}
.sayac{
    
}
#reset_button{
    border: 2px solid gray;
    height: 100px;
}
#my_button{
    border: 2px solid black;
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
}
#my_text{
    border: 1px solid black;
    width: 100px;
    height: 20px;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    top: 115px;
    left: 60px;
}
#sayac_yazisi{
    margin-left: 10px;
    position: absolute;
    top: 110px;
}